html,
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid #e4e4e4;
}

header,
footer {
    flex: none;
}

main {
    height: 100%;
    flex: auto;
    padding: 10px;
    background-color: #f7f7ff;
}

.app-footer {
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e4e4e4;
}

.dropdown-toggle::after {
    display: none !important;
}

.rnc__notification-container--top-right {
    right: 20px;
    top: 80px;
}

.navbar-nav .nav-link.active {
    color: var(--bs-navbar-active-color);
    border-bottom: solid;
    font-weight: bold;
}
